<div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <form (submit)="onFormSubmit($event)">
        <input type="text" name="data" />
        <button onpointer>Add</button>
        <!-- <h3 name="list" ngFor="">{{listArray}}</h3> -->
        <!-- <h1>{{textflip}}</h1> -->
        <h2>{{errortext}}</h2>
        <h3 *ngFor="let item of listArray; index as i">{{item}} <button class="removeButton" (click)="onRemove(i)"><i class="fa fa-trash"></i></button><hr/></h3>
        
    </form>
   
</div>